<div class="drink-section">
  <form action="/modify-drink/{{drink._id}}" method="post">
    <h1 class="drink-title">{{drink.name}}</h1>
    <div class="drink-info">

      <h3>Category:</h3>
      <input type="text" name="category" value="{{drink.category}}">
      <h3>Glass:</h3>
      <input type="text" name="glass" value="{{drink.glass}}">
      <h3>Ingredients:</h3>
      <ul>
        {{#each drink.ingredients}}
        <li class="indentent-input-li"><input type="text" name="ingredient" value="{{this.name}}"> - <input type="text" name="amount" value="{{this.amount}}"> - <input type="text" name="unit" value="{{this.unit}}"></li>
        {{/each}}
      </ul>
      <h3>Preparation:</h3>
      <textarea class="preparation-input" type="text" name="preparation" value="">{{drink.preparation}}</textarea>
      {{#if drink.garnish}}
        <h3>Garnish:</h3>
        <input type="text" name="garnish" value="{{drink.garnish}}">
      {{/if}}
      <div>
        <label id="checkbox"><input type="checkbox" name="alcohol" checked="true">Alcohol</label>
      </div>
    </div>
    <button>ACCEPT</button>
  </form>
  <br>
  <div class="drink-buttons">
    <a href="/drink/{{drink._id}}">CANCEL</a>
  </div>
</div>
