<h1>THE DRINK</h1>
<h2>{{drink.name}}</h2>
<p>{{drink.category}}</p>
<h3>Ingredients:</h3>
<ul>
  {{#each drink.ingredients}}
  <li>{{this.name}} - {{this.amount}} - {{this.unit}}</li>
  {{/each}}
</ul>
<h3>Preparation:</h3>
<p>{{drink.preparation}}</p>
{{#if drink.garnish}}
  <h3>Garnish:</h3>
  <p>{{drink.garnish}}</p>
{{/if}}

<a href="/drinks"><button>BACK</button></a>
<br>
<a href="/"><button>HOME</button></a>
